<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>Dntw1jjlqjfzQGgkmP0R/q3m7onFplyUwWaGhGSeRD1hODErVCKKZYuYisf9BzTEplRdWwPNQtPCQZFqahlgWcUaenP3/jxOAZJ02Ya74QQXznFNyFqbAPZ86kchzfZVGR58U7I8/OkrXB1mFnG6YoMB1T4e9SxOGine1ujRX0b8igKwlwm4FEp9GX701syuYk+kaSmkSOZhMaOT4ZUgMaQihVB0A3tfuikoXQg3z0fENe0WM12vzaQ8x2i1/aML27SWZHE5tRz7CxUvQnKWa32UN/hFHgp+gfpj0yeMyYyKsXEBqrMoD3p6nHo8B6WM68O7/rhMFr7pvPIlmN/PgQ==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>IriaTb5HfnkpfhkfS1glp7xs5mI5/TNX/q5tmrdhs9+0Se/tL5LjGCphcobgwMb5</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>